body {
  background-color: #DBE2EF;
}

.row {
  background-color: #DBE2EF;
}

a {


color: white:
}
.table1 {
  background-color: #DBE2EF;
}

.navbar
    {    background-color:#112D4E;}


.footer1
        {    background-color:#112D4E;}
        .footer1 {
          position: fixed;
          bottom: 0;
;
        }
.quotecard{
border-radius: 30px;
 background-color:blue;
}
